# IMPORTANT: This file contains a service account key for accessing Google Cloud services.
# Please ensure that the 'keys.json' file is securely stored and accessed only by authorized individuals.
keys.json
